/* Calibre */
@font-face {
  font-family: 'Calibre';
  src: local('Calibre'), url('./fonts/CalibreRegular.otf') format('opentype'),
     format('woff');
  font-weight: normal;
  font-style: normal;
}

/* SF Mono */
@font-face {
  font-family: 'SF Mono';
  src: local('SF Mono'), url('./fonts/SFMono-Regular.woff') format('woff'),
    url('./fonts/SFMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}